<!-- NOTE: Dejo de momento la vista antigua comentada -->
<!-- <h1>Bad Request</h1>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  You made a bad request
</div> -->
<div layout="column" layout-align="center" class="child-content">
  <div layout="row" layout-align="center" layout-padding>
    <div class="md-whiteframe-z1" layout-padding flex="35" flex-lg="60" flex-md="75" flex-sm="95">
      <h1 class="md-headline centered-text" translate="400_BAD_REQUEST_TITLE"></h1>
      <md-subheader class="md-warn md-hue-1 md-whiteframe-z2 message-area">
        <md-icon class="mdi mdi-24px mdi-close-octagon md-warn md-hue-1" aria-label="Find Icon"></md-icon>
        <span translate="400_BAD_REQUEST_MESSAGE"></span>
      </md-subheader>
    </div>
  </div>
</div>