<div layout="column" layout-align="center" class="child-content">
  <div layout="row" layout-align="center" layout-padding>
    <div class="md-whiteframe-z1" layout-padding flex="35" flex-md="60" flex-sm="75" flex-xs="95">
      <h1 class="md-headline centered-text" translate="400_BAD_REQUEST_TITLE"></h1>
      <md-subheader class="md-warn md-whiteframe-z2 message-area">
        <md-icon md-svg-icon="close-octagon" class="md-warn" aria-label="Find Icon"></md-icon>
        <span translate="400_BAD_REQUEST_MESSAGE"></span>
      </md-subheader>
    </div>
  </div>
</div>