<div layout="column" layout-align="center" class="child-content">
  <div layout="row" layout-align="center" layout-padding>
    <div class="md-whiteframe-z1" layout-padding flex="35" flex-md="60" flex-sm="75" flex-xs="95">
      <h1 class="md-headline centered-text" translate="404_NOT_FOUND"></h1>
      <div class="md-whiteframe-z2 message-area" md-colors="::{color: 'default-warn'}">
        <md-icon md-svg-icon="file-find" class="md-warn" aria-label="Find Icon" style="margin-right: -15px;"></md-icon>
        <md-icon md-svg-icon="exclamation" class="md-warn md-hue-1" aria-label="Find Icon"></md-icon>
        <span translate="404_NOT_FOUND"></span>
      </div>
    </div>
  </div>
</div>