<!-- <div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand">MEAN.JS</a>
  </div>
  <nav class="navbar-collapse" uib-collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active" ng-repeat="item in accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div> -->
<md-toolbar data-ng-controller="HeaderController as hdrCtrl" class="main-toolbar">
  <div class="md-toolbar-tools md-whiteframe-z1">
    <md-button hide-gt-sm class="md-fab md-primary md-hue-2" aria-label="Show/hide sidenav" ng-click="hdrCtrl.toggleSidenav()">
      <span class="hamburger-icon" ng-class="hdrCtrl.hamburguerIconClass()">
        <span></span>
      </span>
    </md-button>
    <span layout="row" ng-repeat="item in hdrCtrl.menu.items" hide-sm ng-if="item.shouldRender(hdrCtrl.authentication.user);">
      <md-button ng-if="item.type !== 'dropdown'" aria-label="{{item.title | translate}}" ui-sref="{{item.state}}" class="capitalized-text" ui-sref-active="md-raised md-primary md-hue-1">
        <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title | translate}} icon"></md-icon>
        <span translate="{{item.title}}"></span>
      </md-button>
      <md-menu layout="row" ng-if="item.type === 'dropdown'" md-offset="15 55">
        <md-button class="capitalized-text" ng-click="$mdOpenMenu($event)" aria-label="{{item.title | translate}}" ui-sref="{{item.state}}" ui-sref-active="md-primary md-raised md-hue-1">
          <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title | translate}} icon"></md-icon>
          <span translate="{{item.title}}"></span>
          <md-icon md-svg-icon="chevron-down" aria-label="dropdown icon"></md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item ng-repeat="subitem in item.items" layout-padding><md-button ui-sref="{{subitem.state}}" aria-label="{{subitem.title | translate}}" ui-sref-active="md-primary md-raised md-hue-1">
            <md-icon ng-if="subitem.icon" md-svg-icon="{{subitem.icon}}" aria-label="{{subitem.title | translate}} icon"></md-icon>
            <span translate="{{subitem.title}}"></span>
          </md-button></md-menu-item>
        </md-menu-content>
      </md-menu>
    </span>
    <span flex></span>
    <span layout="row" layout-align="center center">
      <md-button class="md-raised md-hue-1 md-fab md-mini" ng-class="hdrCtrl.traslateButtonClass" aria-label="{{hdrCtrl.traslateButtonText}}" ng-click="hdrCtrl.changeLanguage()">
        <div layout="column" layout-align="center center">
          <span class="flag-icon"></span>
        </div>
        <md-tooltip md-delay="0" md-direction="down">{{hdrCtrl.traslateButtonText}}</md-tooltip>
      </md-button>
      <div data-ng-hide="hdrCtrl.authentication.user">
        <md-button class="md-fab md-icon-button md-primary md-hue-2"
          aria-label="Login options"
          ng-click="hdrCtrl.showLoginDialog($event)">
          <md-tooltip md-delay="0" md-direction="down">Login</md-tooltip>
          <md-icon md-svg-icon="account-circle" aria-label="account circle" class="md-icon-48"></md-icon>
        </md-button>
      </div>
      <md-menu md-offset="0 66"
        md-position-mode="target-right target"
        data-ng-show="hdrCtrl.authentication.user"
        ng-cloak>
        <md-button class="md-fab md-icon-button md-accent md-hue-2"
          aria-label="Login options"
          ng-click="$mdOpenMenu($event)">
          <md-tooltip md-delay="0" md-direction="left">{{hdrCtrl.authentication.user.displayName}}</md-tooltip>
          <md-icon md-svg-icon="account-circle" aria-label="account circle" class="md-icon-48"></md-icon>
        </md-button>
        <!-- <md-button class="md-raised md-mini md-hue-1" ng-click="$mdOpenMenu()" aria-label="User options">
          <span data-ng-bind="hdrCtrl.authentication.user.displayName"></span><b class="caret"></b>
        </md-button> -->
        <md-menu-content>
          <md-menu-item ng-repeat="item in hdrCtrl.accountMenu.items" ng-hide="item.state === 'settings.password' && hdrCtrl.authentication.user.provider !== 'local'">
            <md-button aria-label="{{item.title | translate}}" class="md-primary md-hue-2" ui-sref="{{item.state}}">
              <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title | translate}} Icon"></md-icon>
              <span translate="{{item.title}}"></span>
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button aria-label="Sign out" class="md-primary md-hue-2" ng-click="hdrCtrl.signout()">
              <md-icon md-svg-icon="logout-variant" aria-label="Manage Social Accounts Icon"></md-icon>
              <span translate="SIGNOUT"></span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </span>
  </div>
</md-toolbar>