<md-toolbar ng-controller="HeaderController as vm" class="main-toolbar">
  <div class="md-toolbar-tools md-whiteframe-z1">
    <md-button hide-gt-xs class="md-fab md-primary md-hue-2" aria-label="Show/hide sidenav" ng-click="vm.toggleSidenav()">
      <span class="hamburger-icon" ng-class="vm.hamburguerIconClass()">
        <span></span>
      </span>
    </md-button>
    <span layout="row" ng-repeat="item in ::vm.menu.items" hide-xs ng-if="item.shouldRender(vm.authentication.user);">
      <md-button ng-if="::item.type !== 'dropdown'" aria-label="{{::item.title}} button" ui-sref="{{::item.state}}" class="capitalized-text" ui-sref-active="md-raised md-primary md-hue-1">
        <md-icon md-svg-icon="{{::item.icon}}" aria-label="{{::item.title}} icon"></md-icon>
        <span translate="{{::item.title}}"></span>
      </md-button>
      <md-menu layout="row" ng-if="::item.type === 'dropdown'" md-offset="15 55">
        <md-button class="capitalized-text" ng-click="$mdOpenMenu($event)" aria-label="{{::item.title}} button" ui-sref="{{::item.state}}" ui-sref-active="md-primary md-raised md-hue-1">
          <md-icon md-svg-icon="{{::item.icon}}" aria-label="{{::item.title}} icon"></md-icon>
          <span translate="{{::item.title}}"></span>
          <md-icon md-svg-icon="chevron-down" aria-label="dropdown icon"></md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item ng-repeat="subitem in ::item.items"><md-button ui-sref="{{::subitem.state}}" aria-label="{{::subitem.title}} button" ui-sref-active="md-primary md-raised md-hue-1">
            <md-icon ng-if="::subitem.icon" md-svg-icon="{{::subitem.icon}}" aria-label="{{::subitem.title}} icon"></md-icon>
            <span translate="{{::subitem.title}}"></span>
          </md-button></md-menu-item>
        </md-menu-content>
      </md-menu>
    </span>
    <span flex></span>
    <span layout="row" layout-align="center center">
      <md-button class="md-raised md-hue-1 md-fab md-mini" ng-class="vm.traslateButtonClass" aria-label="{{vm.traslateButtonText}}" ng-click="vm.changeLanguage()">
        <div layout="column" layout-align="center center">
          <span class="flag-icon"></span>
        </div>
        <md-tooltip md-delay="0" md-direction="down">
          <span ng-bind="vm.traslateButtonText"></span>
        </md-tooltip>
      </md-button>
      <div ng-hide="vm.authentication.user">
        <md-button class="md-fab md-primary md-hue-2 no-padding"
          aria-label="Login options"
          ng-click="vm.showLoginDialog($event)">
          <md-tooltip md-delay="0" md-direction="down">Login</md-tooltip>
          <md-icon md-svg-icon="account-circle" aria-label="account circle" class="md-icon-48"></md-icon>
        </md-button>
      </div>
      <md-menu md-offset="0 66"
        md-position-mode="target-right target"
        ng-show="vm.authentication.user"
        ng-cloak>
        <md-button class="md-fab md-accent md-hue-2 no-padding"
          aria-label="Login options"
          ng-click="$mdOpenMenu($event)">
          <md-tooltip md-delay="0" md-direction="bottom">
            <span ng-bind="::vm.authentication.user.displayName"></span>
          </md-tooltip>
          <img class="md-fab-img-48" style="margin-top: 4px;" ng-src="{{vm.authentication.user.profileImageURL}}" alt="Profile image">
        </md-button>
        <!-- <md-button class="md-raised md-mini md-hue-1" ng-click="$mdOpenMenu()" aria-label="User options">
          <span ng-bind="vm.authentication.user.displayName"></span><b class="caret"></b>
        </md-button> -->
        <md-menu-content>
          <md-menu-item ng-repeat="item in ::vm.accountMenu.items" ng-if="item.state !== 'settings.password' || vm.authentication.user.provider === 'local'">
            <md-button aria-label="{{::item.title}} button" class="md-primary md-hue-2" ui-sref="{{::item.state}}">
              <md-icon md-svg-icon="{{item.icon}}" aria-label="{{::item.title}} icon"></md-icon>
              <span translate="{{::item.title}}"></span>
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button aria-label="Sign out" class="md-primary md-hue-2" ng-click="vm.signout()">
              <md-icon md-svg-icon="logout-variant" aria-label="Manage Social Accounts Icon"></md-icon>
              <span translate="SIGNOUT"></span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </span>
  </div>
</md-toolbar>