<md-content layout="column" layout-align="center" flex="100" md-colors="{background: 'default-primary-50'}">
  <div layout="row" layout-align="center" layout-padding ng-if="!(vm.localUserData && !vm.error && !vm.noUser)" class="loading-splash">
    <md-content class="md-whiteframe-z1" layout-padding flex="35" flex-md="60" flex-sm="75" flex-xs="95">
      <div layout="column" layout-align="center center" ng-if="!(vm.localUserData || vm.error)">
        <h1 class="md-headline centered-text" translate="LOADING"></h1>
        <md-progress-circular md-mode="indeterminate" md-diameter="128"></md-progress-circular>
      </div>
      <div ng-if="vm.error || vm.noUser">
        <h1 class="md-headline centered-text" translate="ERROR"></h1>
        <md-subheader class="md-warn md-whiteframe-z2 message-area">
          <md-icon md-svg-icon="alert" class="md-warn" aria-label="Alert Icon"></md-icon>
          <span ng-if="vm.noUser" translate="NO_LOCAL_USER"></span>
          <span ng-if="vm.error"><span translate="DATA_ERROR"></span> <span translate="LOCAL_USER_DATA"></span>. Status: <span ng-bind="vm.error"></span></span>
        </md-subheader>
      </div>        
    </md-content>
  </div>
  <div layout="column" layout-align="start" flex="100" ng-if="::vm.localUserData.exists"><div layout="row" layout-align="center" flex="100"><div flex-lg="95" flex-xl="75" flex="100" layout="column">
    <md-tabs md-center-tabs md-swipe-content flex="100">
      <md-tab md-active="vm.params.profile === profile.label" ng-repeat="profile in vm.profiles" label="{{profile.name[vm.currentLanguage]}}" layout="column">
        <md-tab-body class="scrollable">
          <div layout="column" layout-gt-sm="row" layout-align="start stretch" layout-margin class="md-whiteframe-z2" md-colors="{background: 'default-primary-200'}">
            <div layout="column" class="no-margin" layout-align="start" flex="noshrink">
              <div class="visible-overflow" layout="row" layout-padding md-colors="{background: 'default-primary-600'}">
                <img class="md-fab-img-128 md-whiteframe-z3 no-padding" style="margin: auto auto -72px auto;" ng-src="{{::vm.localUserData.profileImageURL}}" alt="Profile pic">
                <h2 flex="100" ng-bind="::vm.localUserData.displayName"></h2>
              </div>                
              <div flex layout="column" layout-align="space-between">
                <p style="margin-left: 144px; min-height: 40px;" ng-bind="profile.position[vm.currentLanguage]"></p><br>
                <md-content layout="row" layout-align="center" layout-margin>
                  <md-button class="md-icon-button" ng-href="mailto:{{::vm.localUserData.email}}?subject={{'WEB_CONTACT' | translate}} - {{'PROFILE' | translate}}: {{profile.position[vm.currentLanguage]}}" aria-label="Contact Email Button">
                    <md-icon md-svg-icon="contact-mail" aria-label="Contact Mail Icon"></md-icon>
                    <md-tooltip>
                      Email
                    </md-tooltip> 
                  </md-button>
                  <md-button ng-repeat="(socialAccount, url) in ::vm.localUserData.social" class="md-icon-button" ng-href="{{::url}}" target="_blank" aria-label="{{::vm.providersCollection[socialAccount].name}} Profile Button">
                    <md-icon md-svg-icon="{{::vm.providersCollection[socialAccount].mdIcon}}" ng-style="::{color: vm.providersCollection[socialAccount].color}" aria-label="{{::vm.providersCollection[socialAccount].name}} Icon"></md-icon>
                    <md-tooltip>
                      <span ng-bind="::vm.providersCollection[socialAccount].name"></span>
                    </md-tooltip> 
                  </md-button>
                </md-content>
              </div>
            </div>
            <md-content layout-padding flex="100">
              <strong translate="DESCRIPTION"></strong>
              <span class="multiline-justified-string" ng-bind-html="profile.bio[vm.currentLanguage]"></span>
            </md-content>
          </div>
          <div class="margin-8px">
            <md-expansion-panel-group md-component-id="panelGroup" multiple>
              <md-expansion-panel md-component-id="skillsPanel" ng-if="::profile.skills.length > 0">
                <md-expansion-panel-collapsed>
                  <div class="md-title">
                    <md-icon md-svg-icon="wrench" aria-label="Wrench Icon" class="margin-5px"></md-icon>
                    <strong translate="SKILLS"></strong>
                  </div>
                  <div class="md-summary">
                    <span hide-xs translate="CLICK_SHOW_DETAILS"></span>
                  </div>
                  <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>
                <md-expansion-panel-expanded>
                  <md-expansion-panel-header ng-click="$panel.collapse()">
                    <div class="md-title">
                      <md-icon md-svg-icon="wrench" aria-label="Wrench Icon" class="margin-5px"></md-icon>
                      <strong translate="SKILLS"></strong>
                    </div>
                    <div class="md-summary" >
                      <span hide-xs translate="CLICK_CLOSE_PANEL"></span>
                    </div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                  </md-expansion-panel-header>
                  <md-expansion-panel-content>
                    <div layout="column" layout-gt-sm="row" layout-align="space-around">
                      <md-list ng-show="::profile.anyTopSkill" flex>
                        <strong translate="SKILLS_TOP"></strong>
                        <md-list-item ng-repeat="skill in ::(profile.skills | filter : {level: 5})" ng-init="profile.anyTopSkill = true;" ng-click="vm.viewSkill($event, skill)" aria-label="Top skills item">
                          <md-icon md-svg-icon="{{::skill.icon}}" aria-label="Skill Icon" class="fullsize" flex="25" flex-sm="5" flex-gt-sm="10"></md-icon>
                          <div layout="column" layout-sm="row" layout-align="start start" flex="100">
                            <span ng-bind="skill.name[vm.currentLanguage]"></span>
                            <span flex></span>
                            <star-rating ng-model="::skill.level" readonly="true"></star-rating>
                          </div>
                        </md-list-item>
                      </md-list>
                      <md-list ng-show="::profile.anyHighSkill" flex>
                        <strong translate="SKILLS_REMARKABLE"></strong>
                        <md-list-item ng-repeat="skill in ::(profile.skills | filter : {level: 4})" ng-init="profile.anyHighSkill = true;" ng-click="vm.viewSkill($event, skill)" aria-label="Remarkable skills item">
                          <md-icon md-svg-icon="{{::skill.icon}}" aria-label="Skill Icon" class="fullsize" flex="25" flex-sm="5" flex-gt-sm="10"></md-icon>
                          <div layout="column" layout-sm="row" layout-align="start start" flex="100">
                            <span ng-bind="skill.name[vm.currentLanguage]"></span>
                            <span flex></span>
                            <star-rating ng-model="::skill.level" readonly="true"></star-rating>
                          </div>
                        </md-list-item>
                      </md-list>
                      <md-list ng-show="::profile.anyNormalSkill" flex>
                        <strong translate="SKILLS_REST"></strong>
                        <md-list-item ng-repeat="skill in ::(profile.skills | filter : { level: 4 } : vm.filterLT)" ng-init="profile.anyNormalSkill = true;" ng-click="vm.viewSkill($event, skill)" aria-label="Rest of skills item">
                          <md-icon md-svg-icon="{{::skill.icon}}" aria-label="Skill Icon" class="fullsize" flex="25" flex-sm="5" flex-gt-sm="10"></md-icon>
                          <div layout="column" layout-sm="row" layout-align="start start" flex="100">
                            <span ng-bind="skill.name[vm.currentLanguage]"></span>
                            <span flex></span>
                            <star-rating ng-model="::skill.level" readonly="true"></star-rating>
                          </div>
                        </md-list-item>
                      </md-list>
                    </div>
                  </md-expansion-panel-content>
                </md-expansion-panel-expanded>
              </md-expansion-panel>
              <md-expansion-panel md-component-id="educationsPanel" ng-if="::profile.educations.length > 0">
                <md-expansion-panel-collapsed>
                  <div class="md-title">
                    <md-icon md-svg-icon="school" aria-label="School Icon" class="margin-5px"></md-icon>
                    <strong translate="EDUCATION"></strong>
                  </div>
                  <div class="md-summary">
                    <span hide-xs translate="CLICK_SHOW_DETAILS"></span>
                  </div>
                  <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>
                <md-expansion-panel-expanded>
                  <md-expansion-panel-header ng-click="$panel.collapse()">
                    <div class="md-title">
                      <md-icon md-svg-icon="school" aria-label="School Icon" class="margin-5px"></md-icon>
                      <strong translate="EDUCATION"></strong>
                    </div>
                    <div class="md-summary" >
                      <span hide-xs translate="CLICK_CLOSE_PANEL"></span>
                    </div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                  </md-expansion-panel-header>
                  <md-expansion-panel-content>
                    <div layout="column" layout-gt-sm="row" layout-align="space-around">
                      <md-list ng-show="::profile.anyCourse" flex>
                        <strong translate="COURSES"></strong>
                        <md-list-item ng-repeat="education in ::(profile.educations | filter : {type: 'course'})" ng-init="profile.anyCourse = true;" ng-click="vm.viewEducation($event, education)" aria-label="Courses item">
                          <span flex>
                            <md-icon md-svg-icon="{{::education.icon}}" aria-label="Education Icon" class="fullsize" flex="25" flex-sm="5" flex-gt-sm="10"></md-icon>
                            <span ng-bind="education.name[vm.currentLanguage]"></span>
                          </span>
                        </md-list-item>
                      </md-list>
                      <md-list ng-show="::profile.anyAcademicEducation" flex>
                        <strong translate="ACADEMIC"></strong>
                        <md-list-item ng-repeat="education in ::(profile.educations | filter : {type: 'academic'})" ng-init="profile.anyAcademicEducation = true;" ng-click="vm.viewEducation($event, education)" aria-label="Academic education item">
                          <span flex>
                            <md-icon md-svg-icon="{{::education.icon}}" aria-label="Education Icon" class="fullsize" flex="25" flex-sm="5" flex-gt-sm="10"></md-icon>
                            <span ng-bind="education.name[vm.currentLanguage]"></span>
                          </span>
                        </md-list-item>
                      </md-list>
                    </div>
                  </md-expansion-panel-content>
                </md-expansion-panel-expanded>
              </md-expansion-panel>
              <md-expansion-panel md-component-id="experiencesPanel" ng-if="::profile.experiences.length > 0">
                <md-expansion-panel-collapsed>
                  <div class="md-title">
                    <md-icon md-svg-icon="worker" aria-label="Worker Icon" class="margin-5px"></md-icon>
                    <strong translate="PROFESSIONAL_EXPERIENCE"></strong>
                  </div>
                  <div class="md-summary">
                    <span hide-xs translate="CLICK_SHOW_DETAILS"></span>
                  </div>
                  <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>
                <md-expansion-panel-expanded>
                  <md-expansion-panel-header ng-click="$panel.collapse()">
                    <div class="md-title">
                      <md-icon md-svg-icon="worker" aria-label="Worker Icon" class="margin-5px"></md-icon>
                      <strong translate="PROFESSIONAL_EXPERIENCE"></strong>
                    </div>
                    <div class="md-summary" >
                      <span hide-xs translate="CLICK_CLOSE_PANEL"></span>
                    </div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                  </md-expansion-panel-header>
                  <md-expansion-panel-content>
                    <div layout="row" layout-align="space-around" layout-wrap>
                      <span class="md-button no-transform-text" ng-repeat="experience in ::profile.experiences" ng-click="vm.viewExperience($event, experience)" flex="100" flex-md="45" flex-lg="30" flex-gt-lg="30">
                        <div layout="row" layout-align-gt-sm="column" layout-align="center center">
                          <md-icon class="fullsize" md-svg-icon="{{::experience.icon}}" aria-label="Experience Icon" flex="20"></md-icon>
                          <div layout="column" flex layout-align="center center">
                            <h3 ng-if="::(experience.name || experience.position)">
                              <span ng-if="::experience.name" ng-bind="experience.name[vm.currentLanguage]"></span><br>
                              <span ng-if="::experience.position" ng-bind="experience.position[vm.currentLanguage]"></span><br>
                            </h3>
                            <span ng-if="::experience.company" ng-bind="::experience.company.name">
                            </span>
                          </div>
                        </div>
                      </span>
                    </div>
                  </md-expansion-panel-content>
                </md-expansion-panel-expanded>
              </md-expansion-panel>
            </md-expansion-panel-group>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div></div>
</md-content>