<md-sidenav hide-gt-xs flex md-component-id="left-sidenav" class="md-sidenav-left md-whiteframe-z5 main-sidenav" layout="column">
  <md-toolbar class="md-hue-1 md-whiteframe-z1" layout="row" layout-align="center center" translate="NAVIGATION"></md-toolbar>
  <span layout="column" ng-repeat="item in ::sNavCtrl.topbarMenu.items" ng-if="item.shouldRender(sNavCtrl.authentication.user);" flex="none">
    <md-button ng-if="::item.type !== 'dropdown'" aria-label="{{::item.title}} button" ng-click="sNavCtrl.closeSidenav()" ui-sref="{{::item.state}}" class="capitalized-text left-aligned-text" ui-sref-active="md-raised md-primary md-hue-1">
      <md-icon md-svg-icon="{{::item.icon}}" aria-label="{{::item.title}} icon"></md-icon>
      <span translate="{{::item.title}}"></span>
    </md-button>
    <md-menu layout="column" ng-if="::item.type === 'dropdown'" md-offset="180 0">
      <md-button class="capitalized-text left-aligned-text" ng-click="$mdOpenMenu($event)" aria-label="{{::item.title}} button" ui-sref="{{::item.state}}" ui-sref-active="md-primary md-raised md-hue-1" layout="row">
        <md-icon md-svg-icon="{{::item.icon}}" aria-label="{{::item.title}} icon"></md-icon>
        <span translate="{{::item.title}}" flex></span>
        <md-icon md-svg-icon="chevron-right" aria-label="dropdown icon"></md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item ng-repeat="subitem in ::item.items"><md-button ng-click="sNavCtrl.closeSidenav()" ui-sref="{{::subitem.state}}" aria-label="{{::subitem.title}} button" ui-sref-active="md-primary md-raised md-hue-1">
            <md-icon ng-if="subitem.icon" md-svg-icon="{{::subitem.icon}}" aria-label="{{::subitem.title}} icon"></md-icon>
            <span translate="{{::subitem.title}}"></span>
          </md-button></md-menu-item>
      </md-menu-content>
    </md-menu>
  </span>
  <div ng-show="sNavCtrl.checkStateContains('settings')" layout="column">
    <md-toolbar class="md-hue-1 md-whiteframe-z1" layout="row" layout-align="center center" translate="USER_SETTINGS"></md-toolbar>
    <md-button ng-repeat="item in ::sNavCtrl.accountMenu.items" ng-if="item.state !== 'settings.password' || sNavCtrl.authentication.user.provider === 'local'" aria-label="{{::item.title}} button" ng-click="sNavCtrl.closeSidenav()" ui-sref="{{::item.state}}" class="capitalized-text left-aligned-text" ui-sref-active="md-raised md-primary md-hue-1">
      <md-icon md-svg-icon="{{::item.icon}}" aria-label="{{::item.title}} icon"></md-icon>
      <span translate="{{::item.title}}"></span>
    </md-button>
  </div>
</md-sidenav>