<md-dialog aria-label="View education dialog" class="dialog-w600">
  <md-toolbar flex="none">
    <div class="md-toolbar-tools">
      <h2 translate="{{::dialogVm.title}}"></h2>
      <span></span>
      <span flex></span>
      <md-button aria-label="Cancel button" type="button" class="md-icon-button" ng-click="dialogVm.cancel()">
        <md-tooltip>
          <span translate="CANCEL"></span>
        </md-tooltip>
        <md-icon md-svg-icon="close" aria-label="Close Icon"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column" layout-gt-xs="row" layout-align="center center" layout-padding>
    <div layout-align="center center" flex="noshrink">
      <md-icon ng-if="::!dialogVm.education.icon" md-svg-icon="school" aria-label="Education Icon" class="md-icon-128"></md-icon>
      <md-icon ng-if="::dialogVm.education.icon" md-svg-icon="{{::dialogVm.education.icon}}" aria-label="Education Icon" class="md-icon-128"></md-icon>
    </div>
    <div flex="100" layout="column" layout-align="start center" class="fullsize">
      <strong ng-bind="::dialogVm.education.name[dialogVm.currentLanguage]"></strong>
      <span ng-if="::dialogVm.education.issuingAuthority.web === ''" ng-bind="::dialogVm.education.issuingAuthority.name"></span>
      <a ng-if="::dialogVm.education.issuingAuthority.web !== ''" href="{{::dialogVm.education.issuingAuthority.web}}" target="_blank" ng-bind="::dialogVm.education.issuingAuthority.name"></a>
      <span ng-bind-html="::dialogVm.education.description[dialogVm.currentLanguage]" class="fullsize indented-text"></span>
      <md-button ng-if="::dialogVm.education.certificate" class="md-mini" ng-href="{{::dialogVm.education.certificate}}" target="_blank" aria-label="View Certificate Button">
        <md-icon md-svg-icon="certificate" aria-label="Certificate Icon"></md-icon>
        <span translate="VIEW_CERTIFICATE"></span>
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>