<md-dialog aria-label="View skill dialog" class="dialog-w600">
  <md-toolbar flex="none">
    <div class="md-toolbar-tools">
      <h2 translate="{{::dialogVm.title}}"></h2>
      <span></span>
      <span flex></span>
      <md-button aria-label="Cancel button" type="button" class="md-icon-button" ng-click="dialogVm.cancel()">
        <md-tooltip>
          <span translate="CANCEL"></span>
        </md-tooltip>
        <md-icon md-svg-icon="close" aria-label="Close Icon"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column" layout-gt-xs="row" layout-align="center center" layout-padding>
    <div layout-align="center center" flex="noshrink">
      <md-icon ng-if="::!dialogVm.skill.icon" md-svg-icon="wrench" aria-label="Skill Icon" class="md-icon-128"></md-icon>
      <md-icon ng-if="::dialogVm.skill.icon" md-svg-icon="{{::dialogVm.skill.icon}}" aria-label="Skill Icon" class="md-icon-128"></md-icon>
    </div>
    <div flex="100" layout="column" layout-align="start center" class="fullsize">
      <strong ng-bind="::dialogVm.skill.name[dialogVm.currentLanguage]"></strong>
      <star-rating ng-model="::dialogVm.skill.level" readonly="true"></star-rating>
      <span ng-bind-html="::dialogVm.skill.description[dialogVm.currentLanguage]" class="indented-text fullsize"></span>
    </div>
  </md-dialog-content>
</md-dialog>