<md-dialog aria-label="View skill dialog" style="max-width: 600px; width: 100%;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 translate="{{::vHSDCtrl.title}}"></h2>
      <span></span>
      <span flex></span>
      <md-button aria-label="Cancel button" type="button" class="md-icon-button" ng-click="vHSDCtrl.cancel()">
        <md-tooltip>
          <span translate="CANCEL"></span>
        </md-tooltip>
        <md-icon md-svg-icon="close" aria-label="Close Icon"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout-margin layout="column">
    <div layout="column" layout-gt-xs="row" layout-align="center center">
      <md-icon md-svg-icon="{{::vHSDCtrl.skill.icon}}" aria-label="Skill Icon" flex="30" class="md-icon-128 margin-10px"></md-icon>
      <div flex="100" layout="column" layout-align="center center">
        <strong>{{::vHSDCtrl.skill.name[vHSDCtrl.currentLanguage]}}</strong>
        <star-rating ng-model="::vHSDCtrl.skill.level" readonly="true"></star-rating>
        <p class="multiline-justified-string">{{::vHSDCtrl.skill.description[vHSDCtrl.currentLanguage]}}</p>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>