<md-dialog aria-label="View education dialog" style="max-width: 600px; width: 100%;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 translate="{{::vHEDCtrl.title}}"></h2>
      <span></span>
      <span flex></span>
      <md-button aria-label="Cancel button" type="button" class="md-icon-button" ng-click="vHEDCtrl.cancel()">
        <md-tooltip>
          <span translate="CANCEL"></span>
        </md-tooltip>
        <md-icon md-svg-icon="close" aria-label="Close Icon"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout-margin layout="column">
    <div layout="column" layout-gt-sm="row" layout-align="center center">
      <md-icon md-svg-icon="{{::vHEDCtrl.education.icon}}" aria-label="Education Icon" flex="30" class="md-icon-128 margin-10px"></md-icon>
      <div flex="100" layout="column" layout-align="start center">
        <strong>{{::vHEDCtrl.education.name[vHEDCtrl.currentLanguage]}}</strong>
        <a href="{{::vHEDCtrl.education.issuingAuthority.web}}">{{::vHEDCtrl.education.issuingAuthority.name}}</a>
        <p class="multiline-justified-string">{{::vHEDCtrl.education.description[vHEDCtrl.currentLanguage]}}</p>
        <md-button ng-if="vHEDCtrl.education.certificate" class="md-mini" ng-href="{{vHEDCtrl.education.certificate}}" target="_blank" aria-label="View Certificate Button">
          <md-icon md-svg-icon="certificate" aria-label="Certificate Icon"></md-icon>
          <span translate="VIEW_CERTIFICATE"></span>
        </md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>