<!-- NOTE: Dejo de momento el formulario antiguo comentado -->
<!-- <section class="row" ng-controller="PasswordController">
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <p class="small text-center">Enter your account username.</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="forgotPasswordForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter a username.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong ng-bind="success"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section> -->
<section flex layout="row" layout-align="center center" ng-controller="PasswordController as pwdCtrl" layout-fill class="child-content">
  <div flex="30" flex-lg="40" flex-md="50" flex-sm="95" layout="column" layout-align="center center" class="md-whiteframe-z1" layout-padding layout-margin>
    <h3 class="md-headline" translate="RESTORE_PASSWORD_TITLE"></h3>
    <p translate="RESTORE_PASSWORD_MESSAGE"></p>
    <form name="forgotPasswordForm" ng-submit="pwdCtrl.askForPasswordReset(forgotPasswordForm.$valid)" class="login-form" autocomplete="off" layout="column" layout-align="center center">
      <div layout-margin>
        <md-input-container>
          <label translate="USERNAME"></label>
          <input required lowercase type="text" id="username" name="username" ng-model="pwdCtrl.credentials.username">
          <div ng-messages="forgotPasswordForm.username.$error">
            <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
          </div>
        </md-input-container>        
      </div>
      <md-button type="submit" class="md-raised md-primary" aria-label="Restore password" md-autofocus>
        <span translate="SUBMIT"></span>
      </md-button>
      <md-subheader class="md-no-sticky md-warn" ng-show="pwdCtrl.error" translate="{{pwdCtrl.error}}"></md-subheader>
      <md-subheader class="md-no-sticky md-success" ng-show="pwdCtrl.success" translate="{{pwdCtrl.success}}"></md-subheader>
    </form>
  </div>
</section>
