<section flex layout="row" layout-align="center center" flex="100" class="child-content">
  <form name="forgotPasswordForm" ng-submit="vm.askForPasswordReset(forgotPasswordForm.$valid)" autocomplete="off" flex="95" flex-sm="50" flex-md="40" flex-gt-md="30" layout="row" layout-align="center center">
    <md-card flex="100" ng-cloak>
      <md-card-content>
        <h3 class="md-headline centered-text" translate="RESTORE_PASSWORD_TITLE"></h3>
        <p class="centered-text" translate="RESTORE_PASSWORD_MESSAGE"></p>
        <div layout="column" layout-align="center center">
          <div layout-margin>
            <md-input-container>
              <label translate="USERNAME"></label>
              <input required lowercase type="text" id="username" name="username" ng-model="vm.credentials.username">
              <div ng-messages="forgotPasswordForm.username.$error">
                <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
              </div>
            </md-input-container>        
          </div>
          <md-subheader class="md-no-sticky md-warn" ng-show="vm.error" translate="{{vm.error}}"></md-subheader>
          <md-subheader class="md-no-sticky md-success" ng-show="vm.success" translate="{{vm.success}}"></md-subheader>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center">
        <md-button type="submit" class="md-raised md-primary" aria-label="Restore password" md-autofocus>
          <span translate="SUBMIT"></span>
        </md-button>
      </md-card-actions>
    </md-card>
  </form>
</section>
