<!-- NOTE: Dejo de momento el formulario antiguo comentado -->
<!-- <section class="row text-center">
  <h3 class="col-md-12">Password reset is invalid</h3>
  <a ui-sref="password.forgot" class="col-md-12">Ask for a new password reset</a>
</section> -->
<section flex layout="row" layout-align="center center" layout-fill class="child-content">
  <div flex="95" flex-sm="50" flex-md="40" flex-gt-md="30" layout="column" layout-align="center center" class="md-whiteframe-z1" layout-padding layout-margin>
    <h3 class="md-headline centered-text" translate="PASSWORD_RESET_INVALID_TITLE"></h3>
   	<a ui-sref="password.forgot" class="centered-text" translate="PASSWORD_RESET_INVALID_MESSAGE"></a>
  </div>
</section>