<section flex layout="row" layout-align="center center" flex="100" class="child-content">
  <form name="resetPasswordForm" ng-submit="vm.resetUserPassword(resetPasswordForm.$valid)" novalidate autocomplete="off" flex="95" flex-sm="50" flex-md="40" flex-gt-md="30" layout="row" layout-align="center center">
    <md-card flex="100" ng-cloak>
      <md-card-content>
        <h3 class="md-headline centered-text" translate="RESET_PASSWORD_TITLE"></h3>
        <div layout="column" layout-align="center" layout-margin>
          <md-input-container>
            <label translate="NEW_PASSWORD"></label>
            <input required type="password" id="newPassword" name="newPassword" ng-model="vm.passwordDetails.newPassword"  password-validator>
            <div ng-messages="resetPasswordForm.newPassword.$error" md-auto-hide="false">
              <md-progress-linear ng-class="requirementsColor" md-mode="determinate" value="{{requirementsProgress}}" ng-hide="resetPasswordForm.newPassword.$error.required"></md-progress-linear>
              <div ng-message="required"><p translate="REQUIRED_FIELD"></p></div>
              <div ng-message="weakpassword">
                <div ng-repeat="passwordError in passwordErrors" translate="{{passwordError}}" translate-value-owasp-value="{{owaspValue}}"></div>
              </div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate="VERIFY_PASSWORD"></label>
            <input required type="password" id="verifyPassword" name="verifyPassword" ng-model="vm.passwordDetails.verifyPassword">
            <div ng-messages="resetPasswordForm.verifyPassword.$error">
              <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
            </div>
          </md-input-container>
          <md-subheader class="md-no-sticky md-warn" ng-show="vm.error" translate="{{vm.error}}"></md-subheader>
          <md-subheader class="md-no-sticky md-success" ng-show="vm.success" translate="SAVE_PASSWORD_SUCCESS"></md-subheader>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center">
        <md-button type="submit" class="md-raised md-primary" aria-label="Save password" md-autofocus>
          <span translate="UPDATE_PASSWORD"></span>
        </md-button>
      </md-card-actions>
    </md-card>    
  </form>
</section>