<md-dialog aria-label="View user dialog">
  <md-toolbar flex="none">
    <div class="md-toolbar-tools">
      <h2 translate="VIEW_USER"></h2>
      <span flex></span>
      <md-button aria-label="Cancel button" type="button" class="md-icon-button" ng-click="dialogVm.cancel()">
        <md-tooltip>
          <span translate="CANCEL"></span>
        </md-tooltip>
        <md-icon md-svg-icon="close" aria-label="Close Icon"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout-margin>
    <span layout="column" layout-gt-xs="row" layout-align="space-between center" layout-margin>
      <h2 ng-bind="::dialogVm.user.username"></h2>
      <img flex-order-xs="-1" class="md-whiteframe-z1 md-fab-img-128" ng-src="{{::dialogVm.user.profileImageURL}}" alt="{{::dialogVm.user.displayName}}">
    </span>
    <p>
      <strong><span translate="FIRST_NAME"></span>:</strong>
      <span ng-bind="::dialogVm.user.firstName"></span>
    </p>
    <p>
      <strong><span translate="LAST_NAME"></span>:</strong>
      <span ng-bind="::dialogVm.user.lastName"></span>
    </p>
    <p>
      <strong><span translate="EMAIL"></span>:</strong>
      <span ng-bind="::dialogVm.user.email"></span>
    </p>
    <p>
      <strong><span translate="PROVIDER"></span>:</strong>
      <md-icon ng-if="::dialogVm.provider" md-svg-icon="{{::dialogVm.provider.mdIcon}}" ng-style="::{color: dialogVm.provider.color}" aria-label="Provider Icon"></md-icon>
      <span ng-bind="::dialogVm.provider.name || dialogVm.user.provider.charAt(0).toUpperCase() + dialogVm.user.provider.slice(1)"></span>
    </p>
    <p>
      <strong><span translate="CREATED"></span>:</strong>
      <span translate="FORMATTED_DATE" translate-values = "::{date:dialogVm.user.created}"></span>
    </p>
    <p>
      <strong><span translate="ROLES"></span>:</strong>
      <span translate="{{::dialogVm.stringifyRoles(dialogVm.user)}}"></span>
    </p>
  </md-dialog-content>
</md-dialog>