<md-dialog aria-label="Edit education dialog" layout="column" class="dialog-w600">
  <form name="editEducationForm" ng-submit="dialogVm.update(editEducationForm.$valid)" novalidate flex="100" layout="column">
    <md-toolbar flex="none">
      <div class="md-toolbar-tools">
        <h2 translate="CREATE_EDUCATION" ng-if="::dialogVm.isNewEducation"></h2>
        <h2 translate="EDIT_EDUCATION" ng-if="::!dialogVm.isNewEducation"></h2>
        <span flex></span>
        <md-button aria-label="Cancel button" type="button" class="md-icon-button" ng-click="dialogVm.cancel()">
          <md-tooltip>
            <span translate="CANCEL"></span>
          </md-tooltip>
          <md-icon md-svg-icon="close" aria-label="Close Icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="editor-form" flex="100">
      <div layout="column" layout-align="center center">
        <md-input-container>
          <label translate="NAME"></label>
          <input required type="text" id="name" name="name" ng-model="dialogVm.education.name[dialogVm.currentLanguage]" md-autofocus>
          <div ng-messages="editEducationForm.name.$error">
            <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
          </div>
        </md-input-container>
        <div class="fullsize" layout="row">
          <md-input-container flex="100">
            <label translate="ICON"></label>
            <input type="text" value="_" hide>
          </md-input-container>
        </div>
        <div class="fullsize" layout="row">
          <md-autocomplete
              md-selected-item="dialogVm.education.icon"
              md-search-text="dialogVm.searchText"
              md-items="icon in filteredIcons = (dialogVm.icons | filter: dialogVm.searchText)"
              md-item-text="icon"
              md-min-length="0"
              placeholder="{{dialogVm.iconsPlaceholder}}"
              flex="100">
            <md-icon md-svg-icon="{{icon}}" aria-label="{{icon}} Icon"></md-icon>
            <md-item-template>
              <md-icon md-svg-icon="{{icon}}" aria-label="{{icon}} Icon"></md-icon>
              <span>{{icon}}
              </span>
            </md-item-template>
            <md-not-found>
              <span translate="NO_MATCHING_ICONS_FOUND" translate-values="{ searchText: dialogVm.searchText }"></span>
            </md-not-found>
          </md-autocomplete>
          <div class="md-whiteframe-z1 padding-8px">
              <md-icon md-svg-icon="{{dialogVm.education.icon}}" aria-label="Education Icon"></md-icon>
          </div>
        </div>
        <md-input-container class="margin-top-45px">
          <label translate="DESCRIPTION"></label>
          <textarea hide="true">_</textarea>
        </md-input-container>
        <textarea ui-tinymce="dialogVm.tinymceOptions" ng-model="dialogVm.education.description[dialogVm.currentLanguage]"></textarea>
        <md-input-container class="margin-top-45px">
          <label translate="TYPE"></label>
          <md-select name="educationType" ng-model="dialogVm.education.educationType" ng-init="">
            <md-option ng-value="opt" ng-repeat="opt in ['ACADEMIC', 'COURSE']">
              <span translate="{{opt}}"></span>
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="margin-top-45px">
          <label translate="ISSUING_AUTHORITY_NAME"></label>
          <input type="text" id="issuingAuthorityName" name="issuingAuthorityName" ng-model="dialogVm.education.issuingAuthority.name">
        </md-input-container>
        <md-input-container>
          <label translate="ISSUING_AUTHORITY_WEB"></label>
          <input type="url" id="issuingAuthorityWeb" name="issuingAuthorityWeb" ng-model="dialogVm.education.issuingAuthority.web">
          <div ng-messages="editEducationForm.issuingAuthorityWeb.$error">
            <div ng-message="url"><span translate="INVALID_URL"></span></div>
          </div>
        </md-input-container>
        <md-input-container>
          <label translate="CERTIFICATE"></label>
          <input type="url" id="certificate" name="certificate" ng-model="dialogVm.education.certificate">
          <div ng-messages="editEducationForm.certificate.$error">
            <div ng-message="url"><span translate="INVALID_URL"></span></div>
          </div>
        </md-input-container>
        <md-input-container>
          <label translate="PROFILES_ASSIGNED"></label>
          <md-chips ng-if="dialogVm.education.profiles.length" ng-model="dialogVm.education.profiles" ng-disabled>
            <md-chip-template>
              <span ng-bind="::dialogVm.profilesCollection[$chip].name[dialogVm.currentLanguage]"></span>
            </md-chip-template>
            <input disabled hide value="_">            
          </md-chips>
          <input disabled ng-if="!dialogVm.education.profiles.length"> 
        </md-input-container>
        <md-input-container class="margin-top-45px">
          <label>
            <span translate="{{dialogVm.selectLabel}}"></span>
          </label>
          <md-select class="fullsize" ng-model="dialogVm.selectedProfile" aria-label="Select profiles" ng-disabled="dialogVm.education.profiles.length === dialogVm.profileIdsArray.length" ng-change="dialogVm.addProfile()">
            <md-option ng-value="profile" ng-repeat="profile in dialogVm.profileIdsArray | filter : dialogVm.filterProfilesNotAssigned"
              <span ng-bind="dialogVm.profilesCollection[profile].name[dialogVm.currentLanguage]"></span>
            </md-option>
          </md-select>
        </md-input-container>
        <md-subheader class="md-no-sticky md-warn" ng-show="dialogVm.error" ng-bind="dialogVm.error"></md-subheader>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button type="submit" class="md-raised md-primary" aria-label="Update education">
        <span ng-if="::dialogVm.isNewEducation" translate="CREATE"></span>
        <span ng-if="::!dialogVm.isNewEducation" translate="UPDATE"></span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>