<section flex layout="row" layout-align="center center" flex="95" flex-sm="75" flex-md="60" flex-gt-md="35">
  <form name="passwordForm" ng-submit="vm.changeUserPassword(passwordForm.$valid)" flex="100">
    <md-card>
      <md-card-content>
        <h3 class="md-headline centered-text" translate="CHANGE_PASSWORD_TITLE"></h3>
        <div layout="column" layout-align="center" layout-margin>
          <md-input-container>
            <label translate="CURRENT_PASSWORD"></label>
            <input required type="password" id="currentPassword" name="currentPassword" ng-model="vm.passwordDetails.currentPassword">
            <div ng-messages="passwordForm.currentPassword.$error">
              <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate="NEW_PASSWORD"></label>
            <input required type="password" id="newPassword" name="newPassword" ng-model="vm.passwordDetails.newPassword" password-validator>
            <div ng-messages="passwordForm.newPassword.$error" md-auto-hide="false">
              <md-progress-linear ng-class="requirementsColor" md-mode="determinate" value="{{requirementsProgress}}" ng-hide="passwordForm.newPassword.$error.required"></md-progress-linear>
              <div ng-message="required"><p translate="REQUIRED_FIELD"></p></div>
              <div ng-message="weakpassword">
                <div ng-repeat="passwordError in passwordErrors" translate="{{passwordError}}" translate-value-owasp-value="{{owaspValue}}"></div>
              </div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate="VERIFY_PASSWORD"></label>
            <input required type="password" id="verifyPassword" name="verifyPassword" ng-model="vm.passwordDetails.verifyPassword">
            <div ng-messages="passwordForm.verifyPassword.$error">
              <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
            </div>
          </md-input-container>
        </div>
        <md-subheader class="md-no-sticky md-warn centered-text" ng-show="vm.error" translate="{{vm.error}}"></md-subheader>
        <md-subheader class="md-no-sticky md-success centered-text" ng-show="vm.success" translate="SAVE_PASSWORD_SUCCESS"></md-subheader>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center">
        <md-button type="submit" class="md-raised md-primary" aria-label="Save password" md-autofocus>
          <span translate="SAVE_PASSWORD"></span>
        </md-button>
      </md-card-actions>
    </md-card>
  </form>
</section>