<section flex layout="row" layout-align="center center"  flex="95" flex-sm="75" flex-md="60" flex-gt-md="35">
  <div flex="100">
    <md-card class="crop-area">
      <img ng-src="{{vm.imageURL}}" alt="{{vm.user.displayName}}" ng-hide="vm.uploader.queue.length">
      <img-crop class="aspect-ratio-1-1" ng-show="vm.uploader.queue.length" image="vm.imageURL" result-image="vm.croppedImage" result-image-size="500"></img-crop>
      <md-card-actions layout="row" layout-align="space-around">
        <div class="btn-file" ng-hide="vm.uploader.queue.length" layout="row" layout-align="center center">
          <input id="input-file" type="file" nv-file-select uploader="vm.uploader" aria-label="Select image">
          <label for="input-file" class="md-button md-raised" translate="SELECT_IMAGE"></label>
        </div>
        <md-button ng-show="vm.uploader.queue.length" ng-click="vm.cancelUpload()" class="md-raised" translate="CANCEL" aria-label="Cancel"></md-button>
        <md-button ng-show="vm.uploader.queue.length"ng-click="vm.uploadProfilePicture()" class="md-raised" translate="UPLOAD" aria-label="Upload"></md-button>
      </md-card-actions>
    </md-card>
  </div>
</section>