<section flex layout="row" layout-align="center center" flex="95" flex-sm="75" flex-md="60" flex-gt-md="35">
  <div flex="100" class="md-hue-1">
    <h3 class="md-headline centered-text"><span translate="SOCIAL_MAIN_PROVIDER"></span> <span ng-bind="::vm.mainAccountName"></span></h3>
    <md-card>
      <md-card-content>
        <h3 ng-show="vm.hasConnectedAdditionalSocialAccounts()" class="md-headline centered-text" translate="SOCIAL_CONNECTED"></h3>
        <div layout="row" layout-padding layout-wrap layout-align="center center">
          <md-button ng-repeat="(providerName, providerData) in vm.user.additionalProvidersData" type="button" class="md-raised md-square-icon-button" ng-click="vm.removeUserSocialAccount(providerName)" aria-label="Remove {{vm.providersCollection[providerName].name}} account">
            <md-tooltip><span ng-bind="vm.providersCollection[providerName].name"></span></md-tooltip>
            <md-icon md-svg-icon="{{vm.providersCollection[providerName].mdIcon}}" ng-style="{color: vm.providersCollection[providerName].color}" aria-label="{{vm.providersCollection[providerName].name}} Icon" class="md-icon-128"></md-icon>
            <md-icon md-svg-icon="account-remove"  aria-label="Add account icon" class="md-subicon-128"></md-icon>
          </md-button>
        </div>
        <h3 ng-show="vm.anyUnconnected" class="md-headline centered-text" translate="SOCIAL_UNCONNECTED"></h3>
        <div layout="row" layout-padding layout-wrap layout-align="center center">
          <md-button ng-repeat="provider in ::vm.providersArray" type="button" class="md-raised md-square-icon-button" href="/api/auth/{{::provider.provider}}" target="_self" aria-label="Add {{::provider.name}} account" ng-hide="vm.isConnectedSocialAccount('{{::provider.provider}}')">
            <md-tooltip>
              <span ng-bind="::provider.name"></span>
            </md-tooltip>
            <md-icon md-svg-icon="{{::provider.mdIcon}}" ng-style="::{color: provider.color}" aria-label="{{::provider.name}} Icon" class="md-icon-128"></md-icon>
            <md-icon md-svg-icon="account-plus"  aria-label="Add account icon" class="md-subicon-128"></md-icon>
          </md-button>
        </div>
    </md-card>    
  </div>
</section>