<section flex ng-controller="SettingsController as settingsVm" layout="row" layout-fill>
  <div layout="column" class="dashboard-sidenav" hide-xs md-colors="{background: 'default-primary-200'}">
    <div class="dashboard-sidenav-content" layout-fill layout="column" layout-padding>
      <div flex></div>
      <md-button ng-repeat="item in ::settingsVm.accountMenu.items" class="md-raised md-hue-1 md-dashboard-button" ui-sref="{{::item.state}}" ui-sref-active="md-primary md-hue-2" aria-label="{{::item.title}} button" ng-if="::item.state !== 'settings.password' || settingsVm.user.provider === 'local'">
        <md-icon class="md-dashboard-icon" md-svg-icon="{{::item.icon}}" aria-label="{{::item.title}} icon"></md-icon>
        <span translate="{{::item.title}}"></span>
      </md-button>
      <div flex></div>
    </div>
  </div>
  <md-content layout="row" layout-align="center" flex class="dashboard-content" md-colors="{background: 'default-primary-50'}" ui-view>
  </md-content>
</section>
