<md-dialog aria-label="Sign in form" data-ng-controller="AuthenticationController as dialogVm">
  <form name="autForm" ng-submit="dialogVm.anyUserExists ? dialogVm.signin(autForm.$valid) : dialogVm.signup(autForm.$valid)">
    <md-toolbar flex="none">
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button aria-label="Cancel button" type="button" class="md-icon-button" ng-click="dialogVm.cancel()" ng-if="::!cancelForbidden">
          <md-tooltip>
            <span translate="CANCEL"></span>
          </md-tooltip>
          <md-icon md-svg-icon="close" aria-label="Close Icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-headline centered-text" translate="SIGNIN_SOCIAL_MSG" layout-padding ng-if="dialogVm.providersArray.length > 0"></div>
      <div layout="row" layout-padding layout-wrap layout-align="center center" ng-if="dialogVm.providersArray.length > 0">
        <md-button ng-repeat="provider in dialogVm.providersArray" type="button" class="md-raised md-square-icon-button" ng-click="dialogVm.callOauthProvider('/api/auth/' + provider.provider)" aria-label="Login with {{provider.name}}">
          <md-tooltip>{{provider.name}}</md-tooltip>
          <md-icon md-svg-icon="{{provider.mdIcon}}" ng-style="{color: provider.color}" aria-label="{{provider.name}} Icon" class="md-icon-128"></md-icon>
        </md-button>
      </div>
      <div class="md-headline centered-text" translate="{{::dialogVm.loginType}}_LOCAL_MSG" layout-padding></div>
      <md-content class="login-form" layout="row" layout-align="center center">
        <div layout="column" flex="75" flex-sm="85" flex-xs="95" layout-align="start center" ng-include="::dialogVm.loginForm" layout-margin>
        </div>
      </md-content>
      <p ng-show="dialogVm.error">
        <md-subheader class="md-no-sticky md-warn centered-text" translate="{{dialogVm.error}}">
        </md-subheader>
      </p>
      <span flex></span>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center">
      <md-button aria-label="Cancel button" type="button" class="md-raised" ng-click="dialogVm.cancel()"  ng-if="::!cancelForbidden">
         <span translate="CANCEL"></span>
      </md-button>
      <span flex></span>
      <md-button aria-label="Submit button" type="submit" class="md-raised md-primary">
        <span translate="{{::dialogVm.loginType}}"></span>
      </md-button>
    </md-dialog-actions>
  </form>  
</md-dialog>