<md-input-container>
  <label translate="USERNAME"></label>
  <input required type="text" id="username" name="username" ng-model="dialogVm.credentials.username">
  <div ng-messages="autForm.username.$error">
    <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
  </div>
</md-input-container>
<md-input-container>
  <label translate="PASSWORD"></label>
  <input required type="password" id="password" name="password" ng-model="dialogVm.credentials.password">
  <div ng-messages="autForm.password.$error">
    <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
  </div>
</md-input-container>
<a href="/#!/password/forgot" ng-click="dialogVm.cancel()" translate="FORGOT_PASSWORD"></a>