<md-input-container>
  <label translate="FIRST_NAME"></label>
  <input required type="text" id="firstName" name="firstName" ng-model="dialogVm.credentials.firstName">
  <div ng-messages="autForm.firstName.$error">
    <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
  </div>
</md-input-container>
<md-input-container>
  <label translate="LAST_NAME"></label>
  <input required type="text" id="lastName" name="lastName" ng-model="dialogVm.credentials.lastName">
  <div ng-messages="autForm.lastName.$error">
    <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
  </div>
</md-input-container>
<md-input-container>
  <label translate="EMAIL"></label>
  <input required lowercase ng-pattern="/^.+@.+\..+$/" type="email" id="email" name="email" ng-model="dialogVm.credentials.email">
  <div ng-messages="autForm.email.$error">
    <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
    <div ng-message="email"><span translate="INVALID_EMAIL_MSG"></span></div>
  </div>
</md-input-container>
<md-input-container>
  <label translate="USERNAME"></label>
  <input required lowercase type="text" id="username" name="username" ng-model="dialogVm.credentials.username">
  <div ng-messages="autForm.username.$error">
    <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
  </div>
</md-input-container>
<md-input-container>
  <label translate="PASSWORD"></label>
  <input required type="password" id="password" name="password" maxlength="18" ng-model="dialogVm.credentials.password" password-validator>
  <div ng-messages="autForm.password.$error" md-auto-hide="false">
    <md-progress-linear ng-class="requirementsColor" md-mode="determinate" value="{{requirementsProgress}}" ng-hide="autForm.password.$error.required"></md-progress-linear>
    <div ng-message="required"><span translate="REQUIRED_FIELD"></span></div>
    <div ng-message="weakpassword">
      <div ng-repeat="passwordError in passwordErrors" translate="{{passwordError}}" translate-value-owasp-value="{{owaspValue}}"></div>
    </div>
  </div>
</md-input-container>