.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.indented-text{
  text-indent: 2em;
}
.multiline-justified-string{
  white-space: pre-line;
  text-align: justify;
  text-indent: 2em;
  line-height: normal;
  text-transform: none;
}
.centered-text{
  text-align: center;
}
.left-aligned-text{
  text-align: left;
}
.capitalized-text{
  text-transform: capitalize;
}
.no-transform-text{
  text-transform: none!important;
}
.text-preview-40px {
  height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0!important;
}
.scrollable {
  overflow: scroll;
}
.visible-overflow {
  overflow: visible;
}
.message-area {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
/*animated hamburguer icon*/
.hamburger-icon {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.hamburger-icon span {
  display: block;
  position: absolute;
  top: 26px;
  left: 5px;
  right: 5px;
  height: 4px;
  width: 35px;
  background: white;
  transition: transform 0.3s;
}
.hamburger-icon span::before,
.hamburger-icon span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}
.hamburger-icon span::before {
  top: -10px;
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.hamburger-icon span::after {
  bottom: -10px;
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
/* animated hamburger icon active state */
.hamburger-icon.is-active span {
  transform: rotate(180deg);
}
.hamburger-icon.is-active span::before,
.hamburger-icon.is-active span::after {
  width: 50%;
}
.hamburger-icon.is-active span::before {
  top: 0;
  transform: translateX(20px) translateY(2px) rotate(45deg);
}
.hamburger-icon.is-active span::after {
  bottom: 0;
  transform: translateX(20px) translateY(-2px) rotate(-45deg);
}
/*Main elements customization*/
.main-toolbar{
  z-index: 61;
  position: fixed;
  top: 0;
}
.main-toolbar > .md-toolbar-tools{
  min-height: 64px;
}
.main-sidenav{
  position: fixed;
  margin-top: 64px;
  min-width: 250px;
  width: 250px;
}
.main-content{
  position: static;
  margin-top: 64px;
  overflow: auto;
}
.child-content{
  margin-top: -64px;
  padding-top: 64px;
  overflow: auto;
  min-height: 100vh;
}
.dashboard-sidenav{
  height: 100vh;
  margin-top: -64px;
  padding-top: 64px;
}
.dashboard-sidenav md-toolbar{
  overflow-y: auto;
  height: auto;
  /*display: block;*/
}
.dashboard-content{
  height: 100vh;
  margin-top: -64px;
  padding-top: 64px;
}
.dashboard-content section{
  overflow-y: auto;
  height: auto;
}
.dialog-w600 {
  max-width: 600px;
  width: 100%;
}
.card-with-floating-button {
  margin-top: 40px; padding-top: 20px;
}
.card-with-floating-button > .md-fab{
  margin-top: -48px; margin-left: 20px;
}

/*Margin and padding on big screens only*/
.margin-padding-bso{
    margin: 10px;
    padding: 10px;
  }
/*Material design icon and images sizes*/
.md-icon-48{
  width: 48px;
  height: 48px;
}
.md-icon-128{
  width: 128px;
  height: 128px;
}
.md-subicon-128{
  fill: white;
  background-color: black; /*Fallback for older browsers*/
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 2px;
  border-radius: 5px;
}
.md-fab-img-40{
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
}
.md-fab-img-48{
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
}
.md-fab-img-128{
  width: 128px;
  height: 128px;
  min-width: 128px;
  min-height: 128px;
  border-radius: 50%;
}
.md-fab-img-subicon{
  margin-bottom: -2px;
  margin-left: -18px;
  background-color: white;
  border-radius: 3px;
  width: 18px;
  height: 18px;
}
.fullsize{
  width: 100%!important;
  height: 100%!important;
}
.margin-10px{
  margin: 10px;
}
.margin-8px{
  margin: 8px;
}
.margin-5px{
  margin: 5px;
}
.aspect-ratio-1-1:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.crop-area {
  overflow: hidden;
  max-width: 450px;
}
/*Custom button styles*/
.md-square-icon-button{
  padding: 0;
  margin: 5px;
  border-radius: 10%;
}
.md-dashboard-button {
  display: block;
  padding-top: 10px;
  /*min-height: 80px;*/
  flex-shrink: 0;
  width: 250px;
}
.md-dashboard-icon {
  position: relative;
  line-height: 75%;
  bottom: -4px;
  display: block;
  font-size: 70px;
  width: 70px;
  height: 70px;
}
.md-table-cell-button {
  margin: 0;
  padding: 0;
}

/*Star rating styles*/
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
}
.star-rating li{
  padding: 1px;
  list-style-type: none;
  display: inline-block;
  text-shadow: 0.1em 0.1em 0.05em #aaa;
  font-size: 1.5em;
}
/*Show/hide transitions*/
.zoom-transition {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.zoom-transition.ng-hide {
  opacity: 0;
  transform: scale(0.9);
}
.zoom-transition-delay {
  opacity: 0;
  transform: scale(0.9);
}
.expand-left {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.expand-left.ng-hide {
  transform: scale(0, 1);
  transform-origin: 100%;

}

.opaque {
  opacity: 1;
}

/*Custom editor form*/
.editor-form{
  padding: 35px;
}
.editor-form md-input-container {
  margin-bottom: -10px;
  width: 100%;
  max-width: 550px;
}
.editor-form textarea,
.editor-form input[type=text] {
  width: 100%;
  max-width: 550px;
}
.editor-form textarea {
  height: 150px;
}
.editor-form .md-subheader {
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
  margin-bottom: -15px;
  height: auto;
}
.editor-form .md-success {
  color: #2e7d32;
}
.editor-form a {
  padding-top: 15px;
}
.editor-form .md-headline {
  text-align: center;
}

.md-progress-danger > div > .md-bar2 {
  background-color: #d9534f;
}
.md-progress-warning > div > .md-bar2 {
  background-color: #f0ad4e;
}
.md-progress-info > div > .md-bar2 {
  background-color: #5bc0de;
}
.md-progress-primary > div > .md-bar2 {
  background-color: #337ab7;
}
.md-progress-success > div > .md-bar2 {
  background-color: #5cb85c;
}

.flag-icon {
  background-size: 100% 100%;
  height: 20px;
  width: 30px;
}
.translate-button-en {
  margin: 0;
}
.translate-button-en > div > .flag-icon {
  background-image: url("../img/UK_flag.svg");
}
.translate-button-es {
  margin: 0;
}
.translate-button-es > div > .flag-icon {
  background-image: url("../img/Spain_flag.svg");
}

.md-table-toolbar md-input-container {
  top: 12px;
}

/*md-expansion-panel personalization*/
md-expansion-panel-collapsed .md-title,
md-expansion-panel-header .md-title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  min-width: 80px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}

/*Styles for small screens*/
@media screen and (max-width:599px), screen and (max-height: 719px) {
  .md-square-icon-button > .md-icon-128 {
    width: 72px;
    height: 72px;
  }
  .md-square-icon-button > .md-subicon-128{
    width: 20px;
    height: 20px;
    bottom: 10px;
    left: 10px;
  }
  .md-square-icon-button {
    min-width: 0;
  }
  .md-headline {    
    font-size: 18px;
    line-height: 22px;
  }
  .md-toolbar-tools {
    min-height: 64px;
  }
  .md-button.md-fab {
    min-width: 56px;
  }
  .md-button.md-fab.md-mini {
    min-width: 40px;
  }
  .md-dashboard-button {
    display: inline;
    padding: 0;
  }
  .md-dashboard-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: -10px;
  }
  .dashboard-sidenav{
    /*height: auto;*/
    margin-top: -64px;
    padding-top: 64px;
  }
  .dashboard-sidenav md-toolbar{
    overflow-y: auto;
    height: auto;
    display: flex;
  }
}
@media screen and (max-width:599px){
  .dashboard-sidenav{
    height: auto;
  }
  .margin-padding-bso{
    margin: 0;
    padding: 0;
  }
}